$icon_width: 79px;
$icon_height: 79px;
$num_icons: 9;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, grey 0%, lightgrey 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slots {
    width: 3.5 * $icon_width;
    height: 3 * $icon_height;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0.3 * $icon_height;
    background: linear-gradient(45deg, grey 0%, lightgray 100%);
	border-top: 1px solid rgba(white, 0.6);
	border-right: 1px solid rgba(white, 0.6);
	border-left: 1px solid rgba(black, 0.4);
	border-bottom: 1px solid rgba(black, 0.4);
	box-shadow: -2px 2px 3px rgba(black, 0.3);
	border-radius: 3px;

    .reel {
        border: 1px solid #000;
        height: 3 * $icon_height;
        width: $icon_width;
        background-image: url(https://assets.codepen.io/439000/slotreel.webp);
        background-repeat: repeat-y;
        background-position: 0 0;
    }
}